<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461634283158-3umhdqkfs7j4qq86o6f2cqsk379pffn1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461634283158-3umhdqkfs7j4qq86o6f2cqsk379pffn1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>461634283158-blirnq9na9jtga8h3avdhe2ig61ug4qi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfhNXYV8z8kVMYbI7jGIymIRPx6MDqttU</string>
	<key>GCM_SENDER_ID</key>
	<string>461634283158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.empatbulan.empatBulan</string>
	<key>PROJECT_ID</key>
	<string>empatbulan-87662</string>
	<key>STORAGE_BUCKET</key>
	<string>empatbulan-87662.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461634283158:ios:4d87286f4eecccf0ff44b7</string>
</dict>
</plist>